{% extends 'base.html' %}

{% block content %}
<div class="content">
  <div class="container-fluid">
    <h4 class="page-title">Home</h4>
    <div class="row">

      <!-- Total Students -->
      <div class="col-md-3">
        <div class="card card-stats stats-card stats-card-1">
          <div class="card-body">
            <div class="row">
              <div class="col-5">
                <div class="icon-big text-center">
                  <i class="la la-user-graduate"></i>
                </div>
              </div>
              <div class="col-7 d-flex align-items-center">
                <div class="numbers">
                  <p class="card-category">Students</p>
                  <h4 class="card-title">{{ total_students }}</h4>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- Students Joined This Year -->
      <div class="col-md-3">
        <div class="card card-stats stats-card stats-card-2">
          <div class="card-body">
            <div class="row">
              <div class="col-5">
                <div class="icon-big text-center">
                  <i class="la la-calendar-plus"></i>
                </div>
              </div>
              <div class="col-7 d-flex align-items-center">
                <div class="numbers">
                  <p class="card-category">Joined This Year</p>
                  <h4 class="card-title">{{ students_joined_this_year }}</h4>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- ORGANIZATIONS -->
      <div class="col-md-3">
        <div class="card card-stats stats-card stats-card-2">
          <div class="card-body">
            <div class="row">
              <div class="col-5">
                <div class="icon-big text-center">
                  <i class="la la-calendar-plus"></i>
                </div>
              </div>
              <div class="col-7 d-flex align-items-center">
                <div class="numbers">
                  <p class="card-category">Organizations</p>
                  <h4 class="card-title">{{total_organizations}}</h4>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- Programs -->
      <div class="col-md-3">
        <div class="card card-stats stats-card stats-card-4">
          <div class="card-body">
            <div class="row">
              <div class="col-5">
                <div class="icon-big text-center">
                  <i class="la la-check-circle"></i>
                </div>
              </div>
              <div class="col-7 d-flex align-items-center">
                <div class="numbers">
                  <p class="card-category">Programs</p>
                  <h4 class="card-title">{{ total_programs }}</h4>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>

    <!-- Project Info -->
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header">
            <div class="card-title">PSUSPHERE</div>
            <div class="card-category">By Luvna E. Arsi and Scott Franklin T. Maher</div>
          </div>
          <div class="card-body">
            <p>
              PSUSphere is a comprehensive web application built using the Django framework, specifically designed to help students, faculty, and administrators at Palawan State University efficiently manage student organizations, academic programs, colleges, and membership records. 
              The system provides an intuitive interface that allows users to create, view, and maintain detailed information about students, the organizations they belong to, and the academic programs offered across different colleges.
            </p>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>
{% endblock %}
